<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	       <!-- <link rel="stylesheet" type="text/css" href="app.css"> -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #content {
        text-align: center;
        padding-top: 5%;
    }
    
    body{
        background: url(https://images.unsplash.com/photo-1486286701208-1d58e9338013?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
        background-size: cover;
        background-position: center;
    }
    .btn{
        background-color: #FFFFFF;
    }
    h1,h3{
        color:#FFFFFF;
    }
    .leftside{
        padding-left: 70%;
    }
  
      
    .h1{
        margin: 50px 50px 50px 250px;
        
    }

    .card{
        margin: 25px 250px;
    }

    .fa-plus-circle{
        font-size: 30px;
        padding-right: 0;
        padding-left: 0;
    }

    .fa-minus-circle{
        font-size: 30px;
        padding-right: 0;
        padding-left: 0;
    }

    .number{
        font-size: 28px;
        padding-right: 20px;
    }
</style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
      <a class="navbar-brand" href="#">Sports Resources</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'his' %}">Booking History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bookingRequests' %}">Booking Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blockedUsers' %}">BLocked Users</a>
          </li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href ="#">logout </a></li>
            <!-- <li class="nav-item"><a class="nav-link"href ="#">Login <i class="fa fa-user-plus" aria-hidden="true"></i></a></li> -->
        </ul>
      </div>
    </div> 
    </nav> 
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1 class="h1 text-secondary">Resources</h1>

    {% for i in data %}
    <div class="card bg-light">
      <div class="card-body">

        <i class="btn btn-circle fa fa-minus-circle pull-right text-danger" aria-hidden="true" onclick=decr({{i.resource_id}})></i>
        <i class="btn btn-circle fa fa-plus-circle pull-right text-primary" aria-hidden="true" onclick=incr({{i.resource_id}})></i>
        <div class="h3 d-inline">{{i.resource_name}},{{i.resource_id}}</div>
        <div class="number d-inline pull-right">{{i.resources_available}}/{{i.count}}</div>
        <!-- <div class="small">Description</div> -->

      
      </div>
    </div>
    {% endfor %}
    <!-- <p id="hello" onclick="incr()">Hello</p> -->
    <!-- <div class="card bg-light">
      <div class="card-body">

        <i class="btn btn-circle fa fa-minus-circle pull-right text-danger" aria-hidden="true"></i>
        <i class="btn btn-circle fa fa-plus-circle pull-right text-primary" aria-hidden="true"></i>
        <div class="h3 d-inline">Resource Name</div>
        <div class="number d-inline pull-right">40/60</div>
        <div class="small">Description</div>

      
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-body">

        <i class="btn btn-circle fa fa-minus-circle pull-right text-danger" aria-hidden="true"></i>
        <i class="btn btn-circle fa fa-plus-circle pull-right text-primary" aria-hidden="true"></i>
        <div class="h3 d-inline">Resource Name</div>
        <div class="number d-inline pull-right">40/60</div>
        <div class="small">Description</div>

      
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-body">

        <i class="btn btn-circle fa fa-minus-circle pull-right text-danger" aria-hidden="true"></i>
        <i class="btn btn-circle fa fa-plus-circle pull-right text-primary" aria-hidden="true"></i>
        <div class="h3 d-inline">Resource Name</div>
        <div class="number d-inline pull-right">40/60</div>
        <div class="small">Description</div>

      
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-body">

        <i class="btn btn-circle fa fa-minus-circle pull-right text-danger" aria-hidden="true"></i>
        <i class="btn btn-circle fa fa-plus-circle pull-right text-primary" aria-hidden="true"></i>
        <div class="h3 d-inline">Resource Name</div>
        <div class="number d-inline pull-right">40/60</div>
        <div class="small">Description</div>

      
      </div>
    </div> -->
        <script>
          function incr(id){
            $.ajax({
              type:"GET",
              data:{'id':id},
              url:"{{'/polls/incOne'}}",
              success:function(data){
                location.reload()
              }
            });
          }
        </script>
        <script>
          function decr(id){
            $.ajax({
              type:"GET",
              data:{'id':id},
              url:"{{'/polls/decOne'}}",
              success:function(data){
                location.reload()
              }
            });
          }
        </script>
        
        
        <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
       <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
</html>