<!DOCTYPE html>
<html>
  <title> Update Password </title>
<!-- CSS  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<body>
  <style>
      
    .h1{
      margin: 50px 50px 50px 250px;
      
    }

    /* .card{
      margin: 25px 250px;
    }
    .form{
        margin: 25px 75px 50px 250px;
        padding: 6px 0;
        
      } */

    .fa-plus{
      font-size: 30px;
    }
    body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
    .dropdown{
margin: 10px;
}

</style>

<title>Timetable</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="container">
      
      <a class="navbar-brand" href="{% url 'resources' %}">Sports Resources</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bookingHistory' %}">Booking History</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bookingRequests' %}">Booking Requests</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blockedUsers' %}">Blocked Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'timetable' %}">Timetable</a>
              </li>
          </ul>
  
          <ul class="nav navbar-nav navbar-right">
            
            <li class="nav-item"><a class="nav-link" href ="{% url 'logout' %}">Logout</a></li>
            <!-- <li class="nav-item"><a class="nav-link"href ="#">Login <i class="fa fa-user-plus" aria-hidden="true"></i></a></li> -->
          
           </ul>

        </div>

    </div> 

  </nav>

<form method="POST" action="{% url 'cPassword' %}">
    {% csrf_token %}
    <center>
      <p>{{data}}</p>
  <label for="password">Enter Id:</label><br>
  <input type="text"  name="id1" placeholder="Id"><br>
  <label for="password">Old Password:</label><br>
  <input type="password" id="password" name="old_password" placeholder="Enter new password"><br>
  <label for="password">New Password:</label><br>
  <input type="password" id="password" name="password" placeholder="Enter new password"><br>
  <label for="confirm_password">Confirm Password</label><br>
  <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"><br><br>
  <input type="submit" value="Submit">
  </center>
</form> 

</body>
</html>