<!DOCTYPE html>
<html>
  <title> Update Password </title>
<!-- CSS  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<body>

<form method="POST" action="{% url 'api' %}">
    {% csrf_token %}
    <p>{{data}}</p>
  <label for="password">New Password:</label><br>
  <input type="text" id="password" name="password" placeholder="Enter new password"><br>
  <label for="confirm_password">Confirm Password</label><br>
  <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>